.redoc-wrap tbody th{
    background-color: #191e25 !important;
    border: 0 !important;
    border-top:  0 !important;
}


.redoc-wrap tbody tr{
    background-color: #191e25 !important;
    border: 0 !important;
    border-top:  0 !important;
}

.redoc-wrap tbody td{
    background-color: #191e25 !important;
    border: 0 !important;
    border-top:  0 !important;
}
